body{
    font-size: 24px;/*px*/
}
body.popup-open {
    position: fixed;
    width: 100%;
}
/*fixed会使iPhone11等机型无法覆盖底部安全区域，改用overflow: hidden阻止页面滑动*/
@media only screen and (device-width: 414px) and (device-height: 896px) {
    body.popup-open {
        position: static;
        overflow: hidden;
    }
}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio:3) {
    body.popup-open {
        position: static;
        overflow: hidden;
    }
}
i,em{
    font-style: normal;
}
img {
    width: 100%;
    -webkit-touch-callout: none;
    /*pointer-events: none;*/
}
/*粒化样式*/
.full-width {
    width: 100%;
}
.row {
    display: -webkit-flex;
    display: flex;
}
.column {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}
.flex-item {
    -webkit-flex: 1;
    flex: 1;
}
.center {
    -webkit-justify-content:center;
    -webkit-align-items:center;
    justify-content: center;
    align-items: center;
}
.justify-between {
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.justify-around {
    -webkit-justify-content: space-around;
    justify-content: space-around;
}
.justify-center {
    -webkit-justify-content: center;
    justify-content: center;
}
.align-center {
    -webkit-align-items: center;
    align-items: center;
}
.text-center{
    text-align: center;
}
.ellipsis{
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.no-wrap{
    white-space:nowrap;
}
.bg-normal{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/*弹窗公共样式，勿删*/
.mj-activity-dialog{
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    -webkit-justify-content:center;
    -webkit-align-items:center;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
}
/*苹果免责声明样式*/
.ios-hint{
    text-align: center;
    font-size: 24px;/*px*/
    color: #425679;
    margin-top: 50px;
}
/* animate for dialog/picker/toast/loading,配合Vue transition使用 */
.fade-enter, .fade-leave-to {
    opacity: 0;
}
.fade-leave, .fade-enter-to {
    opacity: 1;
}
.scale-enter, .scale-leave-to {
     transform:scale(0,0);
 }
.scale-leave, .scale-enter-to {
    transform:scale(1,1);
}
.slide-up-enter,.slide-up-leave-to{
    transform: translate3d(0,100%,0);
}
.fade-enter-active, .fade-leave-active, .scale-enter-active, .scale-leave-active, .slide-up-enter-active, .slide-up-leave-active{
    transition: all .3s ease;
}
/* animate end */
