$bgColor:#e89680;
$colorBlue:#5585eb;
$colorFrenchGrey:#efefef;
$colorLightGrey:#dcdcdc;
$colorDarkGrey:#a2a2a2;
$colorIvory:#E7E7E7;
/*poster*/
$colorPoster:#ffd043;
/*rule */
$termsColor:#4A4A4A;
$titleFontSize:36px;
$termsFontSize:28px;
/*dialog*/
$btnFontSize:30px;
$dialogFontColor:#1C1C1C;
$confirmColor:#289DEF;
$cancelColor:#828282;
/*dialog close button width and height*/
$closeSize:64px;
/*iPhone5 font-size difference value*/
$iPhone5Diff:2;
